<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person"
          class="biz.verenti.spring.test.Person" scope="prototype">
        <constructor-arg value="777" name="id" type="int"/>
        <constructor-arg value="marge" name="name" type="java.lang.String"/>
        <property name="taxId" value="123"/>
        <property name="address" ref="address"/>

    </bean>

    <bean id="address" class="biz.verenti.spring.test.Address">


        <constructor-arg name="street" value="1 Church Lane"/>
        <constructor-arg name="postcode" value="BS59RL"/>

    </bean>

</beans>